@model GestaoEscolar.Models.Aluno

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-top:10px">
    
    <form id="frmCreate" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <a class="waves-effect waves-light btn" onclick="document.getElementById('frmCreate').submit();"><i class="fa fa-save left"></i>Gravar</a>
        <a class="waves-effect waves-light btn " asp-action="Index" ><i class="material-icons left">arrow_back</i>Cancelar</a>

        <hr />

        <fieldset>
            <legend>Novo Aluno</legend>

            <div class="input-field col s4">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>

            <div class="input-field col s8">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>




            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#dadosGerais">Dados Gerais</a></li>
                        <li class="tab col s3"><a href="#Contactos">Contactos</a></li>

                        <li class="tab col s3"><a href="#Encarregados">Encarregados</a></li>
                        <li class="tab col s3 disabled"><a href="#test3">Ano Lectivo</a></li>
                    </ul>
                </div>
                <div id="dadosGerais" class="col s12">

                    <div class="input-field col s4">
                        <div class="checkbox">
                            <label>
                                 @Html.DisplayNameFor(model => model.sexo)
                            </label>

                            <p>
                                <label>
                                    <input name="sexo" type="radio" value="1" checked />
                                    <span>Masculino</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="sexo" type="radio" value="0" />
                                    <span>Feminino</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    <div class="input-field col s4">
                        <label asp-for="apelido" class="control-label"></label>
                        <input asp-for="apelido" class="form-control" />
                        <span asp-validation-for="apelido" class="text-danger"></span>
                    </div>

                    <div class="input-field col s4">
                        <label asp-for="localidade" class="control-label"></label>
                        <input asp-for="localidade" class="form-control" />
                        <span asp-validation-for="localidade" class="text-danger"></span>
                    </div>

                    <div class="input-field col s12">
                        <label asp-for="morada" class="control-label"></label>
                        <input asp-for="morada" class="form-control" />
                        <span asp-validation-for="morada" class="text-danger"></span>
                    </div>

                    <div class="input-field col s4">
                        <label asp-for="nib" class="control-label"></label>
                        <input asp-for="nib" class="form-control" />
                        <span asp-validation-for="nib" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="nacionalidade" class="control-label"></label>
                        <input asp-for="nacionalidade" class="form-control" />
                        <span asp-validation-for="nacionalidade" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="dataNascimento" class="control-label"></label>
                        <input asp-for="dataNascimento" class="form-control" />
                        <span asp-validation-for="dataNascimento" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="localNascimento" class="control-label"></label>
                        <input asp-for="localNascimento" class="form-control" />
                        <span asp-validation-for="localNascimento" class="text-danger"></span>
                    </div>

                </div>
                <div id="Contactos" class="col s12">

                    <div class="input-field col s4">
                        <label asp-for="documentoIdentificacao" class="control-label"></label>
                        <input asp-for="documentoIdentificacao" class="form-control" />
                        <span asp-validation-for="documentoIdentificacao" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="numeroDocumento" class="control-label"></label>
                        <input asp-for="numeroDocumento" class="form-control" />
                        <span asp-validation-for="numeroDocumento" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="validadeDocumento" class="control-label"></label>
                        <input asp-for="validadeDocumento" class="form-control" />
                        <span asp-validation-for="validadeDocumento" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="telefone" class="control-label"></label>
                        <input asp-for="telefone" class="form-control" />
                        <span asp-validation-for="telefone" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="celular" class="control-label"></label>
                        <input asp-for="celular" class="form-control" />
                        <span asp-validation-for="celular" class="text-danger"></span>
                    </div>

                </div>
                <div id="Encarregados" class="col s12">

                    <div class="input-field col s4">
                        <label asp-for="nomePai" class="control-label"></label>
                        <input asp-for="nomePai" class="form-control" />
                        <span asp-validation-for="nomePai" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="telefonePai" class="control-label"></label>
                        <input asp-for="telefonePai" class="form-control" />
                        <span asp-validation-for="telefonePai" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="emailPai" class="control-label"></label>
                        <input asp-for="emailPai" class="form-control" />
                        <span asp-validation-for="emailPai" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="nomeMae" class="control-label"></label>
                        <input asp-for="nomeMae" class="form-control" />
                        <span asp-validation-for="nomeMae" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="telefoneMãe" class="control-label"></label>
                        <input asp-for="telefoneMãe" class="form-control" />
                        <span asp-validation-for="telefoneMãe" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="emailMae" class="control-label"></label>
                        <input asp-for="emailMae" class="form-control" />
                        <span asp-validation-for="emailMae" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="nomeEncarregado" class="control-label"></label>
                        <input asp-for="nomeEncarregado" class="form-control" />
                        <span asp-validation-for="nomeEncarregado" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="telefoneEncarregado" class="control-label"></label>
                        <input asp-for="telefoneEncarregado" class="form-control" />
                        <span asp-validation-for="telefoneEncarregado" class="text-danger"></span>
                    </div>
                    <div class="input-field col s4">
                        <label asp-for="emailEncarregado" class="control-label"></label>
                        <input asp-for="emailEncarregado" class="form-control" />
                        <span asp-validation-for="emailEncarregado" class="text-danger"></span>
                    </div>

                </div>
                <div id="test3" class="col s12">Test 4</div>
            </div>
        </fieldset>

    </form>

</div>